@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

h1, h3{
    font-family: "Jersey 15", system-ui;
    color: white;
}

p{
    font-family: "Germania One", system-ui;
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondoAzul3.png');
    background-size: 100% 100%;
    
}
.contenedorFlex{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    background-color: #00000060;
    padding: 10px;
    border-radius: 10px ;

    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    min-height: calc(100vh - 40px);
}
.contenedorInterno {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px; 
    padding: 10px;
    font-size: 25px;
}
.contImg{
    display: flex;
    border-radius: 35px;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: auto;
    margin-left: 10px;
    margin-top: 10px;
}
.contenedorIzquierdo{
    display: flex;
    margin-top: 20px;
    width: 180px;
    height: 620px;
    border-radius: 10px;
    border: 2px solid orange;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    
}

.cont{
    display: flex;
    flex-direction: column;
    color: rgb(223, 208, 208);
    border-radius: 10px;
    border: 2px solid orange;
    padding: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.5);

}
.cont2{
    display: flex;
    flex-direction: column;
    color: rgb(223, 208, 208);
    border-radius: 10px;
    border: 2px solid salmon;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    flex-grow: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.5);

}

.img2{
    width: 200px;
    height: 200px;
    border-radius: 30px; 
}