<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
    border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
    border-radius: 25px 100%;
}
</style>
</head>
<body>

<h2>Triangle Right CSS</h2>
<div class="triangle-left"></div>

</body>
</html> 
